<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Folder1.RESTAPITest"/>
      <class name="Folder1.AppiumTest"/>
      <class name="Folder1.SeleniumTest"/>
      <class name="Folder1.AlertsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
